.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 15px 0px;
  text-align: center;
  color: rgb(175, 182, 176);
  background-color: rgb(115, 107, 107);

  .links{
    text-decoration: none;
    color: rgb(231, 231, 234);
  }

  @media (max-width: 408px) {
    flex-direction: column;
  }
  
}