.login-form {
  // @include flex-center(column);
  width: 800px;
  max-width: 80%;
  

  input, textarea {
    @extend .form-input;
  }
}

.textlogin {
  width: 60%;
  margin-bottom: 90px;
  margin-top: 10px;
  align-items: center;
  text-decoration: none;
}



