
.profile-page {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .fridge-box {
    border: 1px solid #e0dddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

    }

    h4 {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        button {
          margin-top: 5px;
          padding: 5px;
          cursor: pointer;
          background-color: #3498db;
          color: #fff;
          border: none;
          border-radius: 3px;

          &:hover {
            background-color: #2980b9;
          }
        }
      }
    }
  }

  .review-input {
    margin-bottom: 10px;
  }


.fridge-form {
  margin-top: 20px;
}

.meats-box {
  margin-top: 20px;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;

      div {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        button {
          margin-top: 5px;
          padding: 5px;
          cursor: pointer;
          background-color: #3498db;
          color: #fff;
          border: none;
          border-radius: 3px;

          &:hover {
            background-color: #2980b9;
          }
        }
      }
    }
  }
}

.meat-form {
  margin-top: 20px;
}

.temperatures-container {
  display: flex;
  gap: 20px;
}

.fridges-container,
.meats-container {
  flex: 1;
}

.fridges-row,
.meats-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-container {
  width: 50px; 
  margin-right: 100px; 
}

.fridge-box,
.meats-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  width: calc(50% - 20px); 

  h4,
  p {
    font-size: 14px; 
  }

  .review-input {
    margin-bottom: 10px;
    font-size: 14px; 
  }

  .common-button {
    font-size: 14px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
  }
}

.create-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* Media query for screens with a maximum width of 640px */

@media (max-width: 640px) {
  .profile-page {
    padding: 10px; 

    h2 {
      margin-bottom: 10px; 
    }

    .fridge-box,
    .meats-box {
      width: 100%; 
      margin-right: 0; 
    }

    .form-container {
      margin-right: 0;
    }


  }
}





