// Register link
.register-link {
  color: #a69794;
  font-weight: bold;
}

// Styling register form
// .registerform{

//   // @include flex-center(column)
// }

.textregister{
  width: 60%;
  margin-bottom: 90px;
  margin-top: 10px;
  align-items: center;
  text-decoration: none;
}

.registeruser, 
.registeremail,
.registerpass,
.registerpasscon {
  @extend .form-input;
}

